<!DOCTYPE html>
<html lang="en">
	<%-include("./partials/head.ejs") %>
	<body>
		<%-include("./partials/nav.ejs")%>
		<div class="blogs-content">
			<form action="">
				<label for="title">Blog Title:</label>
				<input type="text" id="title" required />

				<label for="snippet">Blog Snippet:</label>
				<input type="text" id="snippet" required />

				<label for="body">Blog Body:</label>
				<input id="body" required />
				<button>Submit</button>
			</form>
		</div>
		<%- include("./partials/footer.ejs") %>
	</body>
</html>
