<!DOCTYPE html>
<html lang="en">
	<%-include("./partials/head.ejs") %>
	<body>
		<%-include("./partials/nav.ejs")%>
		<div class="blogs-content">
			<h2>All Blogs</h2>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic
				typesetting, remaining essentially unchanged.
			</p>
			<p>
				Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
				type specimen book.
			</p>
			<p>
				It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
				like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
		</div>
		<%- include("./partials/footer.ejs") %>
	</body>
</html>
